<!-- DETAIL INFO MODAL -->
<div id="ka-info-detail-modal" aria-labelledby="ka-info-detail-label">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 id="ka-info-detail-label" class="ka">
      Quick Reference
    </h3>
  </div>
  <div class="modal-body">
    <p>Please see our 
      <a href="http://kanjialive.com/user-guide/" target="_blank">User Guide</a> for detailed explanations of all of <em>Kanji alive's</em> features or watch our 
      <a href="http://www.youtube.com/kanjialive/" target="_blank">demonstration videos</a>. If you are having technical difficulties, please refer to our 
      <a href="http://kanjialive.com/troubleshooting" target="_blank">Troubleshooting</a> page.
    </p> 
    <p>詳細は、メーニューの「日本語」内にある使用説明とトラブルシューティングをご参照ください。</p>
    <h4>
      Navigation
    </h4>
    <table class="table table-bordered table-condensed">
      <tbody>
      <td>Next/Previous kanji</td>
        <td>Use the <kbd>left arrow</kbd> and <kbd>right arrow</kbd> keys or click on the left and right single pointed brackets in the top navigation bar</td>
      </tr>
      <tr>
        <td>Toggle kanji animation/typeface</td>
        <td>Use the <kbd>up arrow</kbd> or <kbd>down arrow</kbd> keys or click on the large image of the kanji.</td>
      </tr>
      <tr>
        <td>Next/Previous typeface</td>
        <td>Use the <kbd>SHIFT + left arrow</kbd> and <kbd>SHIFT + right arrow</kbd> keys or click on the left and right single pointed brackets next to the name of the typeface</td>
      </tr>
      <tr>
        <td>Return to Search</td>
        <td>Click on the text of the current search term on the far left of the navigation bar</td>
      </tr>
    </tbody></table>
    <p>
      Note: The order in which kanji appear in the detail view when selecting the next or previous kanji is dependant on the sort mode previously chosen in the search view.
    </p>
    <h4>
      Other Interactive Elements
    </h4>
    <table class="table table-bordered table-condensed">
      <tbody>
        <tr>
        <td>Play/Pause kanji animation</td>
        <td> Use the <kbd>spacebar</kbd> or click on the play/pause icon in the center of the kanji animation controls or.</td>
      </tr>
      <tr>
        <td>Next/Previous stroke</td>
        <td> Use the <kbd>SHIFT + left arrow</kbd> or <kbd>SHIFT + right arrow</kbd> keys, click the previous and next stroke icons on each side of the play/pause icon or move your mouse cursor over the stroke breakdown images.</td>
      </tr>
      <tr>
        <td>Radical animation</td>
        <td> Click on the image on the far right of the radical field to view an animation illustrating the radical's historical derivation.</td>
      </tr>
      <tr>
        <td>Examples</td>
        <td>Move your mouse cursor over a Japanese word in the Examples field to reveal its English meaning. Click on the play icon to the right of each example to hear its pronunciation.</td>
      </tr>
      <tr>
        <td>Example sentences</td>
        <td> Click on the phrase to view the online dictionary entry for the target kanji in <a href="http://www.kenkyusha.co.jp/modules/08_luminous/" target="Luminous">Kenkyusha's Luminous Dictionary</a>.</td>
      </tr>
    </tbody></table>
  </div>
  <div class="modal-footer">
  </div>
</div>