<div class="ka-welcome-header">Welcome to <span class="ka-welcome-italic">Kanji alive</span></div>
<p class="ka-welcome-p">
Start out with <span class="ka-welcome-italic">Quick Search</span> by entering either a kanji itself, its Onyomi in katakana, Kunyomi in hiragana or its English meaning into the search field. If your search produced many results, click on the “Sort” icon to view these kanji grouped in different ways.
</p>
<p class="ka-welcome-p">
Next, learn how to use the flexible <span class="ka-welcome-italic">Advanced Search</span> syntax. This allows you to search for kanji in romaji or Japanese using all available categories including radical, stroke, grade and textbook (e.g. by entering <code>on:shin</code> to find all kanji with the onyomi “shin” or <code>grade:2</code> to find all Grade 2 kanji).</p>
<p class="ka-welcome-p">Please read our <a href="http://kanjialive.com/user-guide" target="_blank">User Guide</a> to learn more, watch a <a href="https://www.youtube.com/kanjialive/" target="_blank">demo video</a> or click on the “Info” icon in the navigation bar to review the context sensitive Quick Reference.
</p>  