@font-face {
  font-family: 'mplus-1m-light';
  src: url('/static/css/fonts/mplus-1m-light-webfont.eot');
  src: url('/static/css/fonts/mplus-1m-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/css/fonts/mplus-1m-light-webfont.woff') format('woff'),
       url('/static/css/fonts/mplus-1m-light-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: local('SourceSansPro-Regular');
  src: url('/static/css/fonts/sourcesanspro-regular-webfont.eot');
  src: url('/static/css/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/css/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('/static/css/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
  unicode-range: U+0000-007F; 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'SourceSansPro-It';
  src: local('SourceSansPro-It');
  src: url('/static/css/fonts/sourcesanspro-italic-webfont.eot');
  src: url('/static/css/fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/css/fonts/sourcesanspro-italic-webfont.woff') format('woff'),
       url('/static/css/fonts/sourcesanspro-italic-webfont.ttf')  format('truetype');
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'JapaneseRadicals-Regular';
  src: local('JapaneseRadicals-Regular');
  src: url('/static/css/fonts/JapaneseRadicals-Regular.eot');
  src: url('/static/css/fonts/JapaneseRadicals-Regular.eot?#iefix') format('embedded-opentype'),
       url('/static/css/fonts/JapaneseRadicals-Regular.woff') format('woff'),
       url('/static/css/fonts/JapaneseRadicals-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'mplus-1m-icons';
  src: url('/static/css/fonts/mplus-1m-icons.eot');
  src: url('/static/css/fonts/mplus-1m-icons.eot?#iefix') format('embedded-opentype'),
       url('/static/css/fonts/mplus-1m-icons.woff') format('woff'),
       url('/static/css/fonts/mplus-1m-icons.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #D0D0D0;
}


.desktop-branding {
  display:none;
}
.desktop-branding img {
  max-width:54px;
  padding-bottom:8px;
}
/*.mobile-branding a {
  margin-top:20px;
}*/
.mobile-branding img {
  max-width:50px;
}

.mobile-branding, .desktop-branding a {
  font-family: 'SourceSansPro-It','SourceSansPro-Regular',sans-serif;
  /*workaround for FireFox*/  
  font-style: italic;
}

.nav a, .nav {
    font-family:'SourceSansPro-Regular','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',MS-Gothic,sans-serif; 
    font-size:17px; 
    color:#B64630;
    font-weight:normal; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none; 
  }
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.search-form {
  width:100%;
  background: #F6F6F6;
 margin-top:-5px;
}

.search-button {
  background: url('/static/img/search-icon.png');
  background-size:22px 22px;
  width: 22px;
  height:22px;
  position:absolute;
  top:4px;
  left:228px;
}



.search-bar {
  border:0; 
  outline:none; 
  background-color:#F6F6F6;
  box-shadow:none;
  color:#B64630;
  padding: 4px 0 1px 10px;
  height:32px;
  width:220px !important;
  font-family:'SourceSansPro-Regular','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',MS-Gothic,sans-serif; 
font-size:17px;
}

.nav a.icon {
  font-family:'mplus-1m-icons' !important; 
  font-size:20px;
}

.container-typeface-video{
   position:absolute;
  width:248px;
  height:248px;
 
  margin-left:4px;
  top:59px;
	
}

.video-container .video {
  width:248px;
  height:248px;
  
}

video[poster] {
  width:248px;
  height:248px;
}

video {
  width:100%;
}
.nav-section-1 a {
  margin-right:15px;
}

.nav-section-2 {
  text-align: center;
}

.nav-section-3 {
  margin-top:5px;
}

.nav-section-2 .icon-left {
  margin-right:15px;
}

.nav-section-2 .icon-right {
  margin-left:15px;
}
h3.nav-header {
//    color:#B64630;
 //   margin-top:22px;
}

.nav-section-3 span {
  float:right;
  display:none;
}

.nav-section-1, .nav-section-2, .nav-section-3 {
  margin-top:15px;
  margin-bottom:3px;
}

.nav-section-1 p, .nav-section-2 p, .nav-section-3 p{
  display:inline;
}

.animation-controls {
  height:34px;
  width:141px !important;
  margin-left:62px;
  margin-top:17px;
  padding-top:5px;
}


.search-results{
	height: 529px;
	margin-left:19px;
}

.search-results-kanji{
	margin-left:0px;
}

.docs-container {
    padding-top:30px;
}

.mobile-branding {
  margin-bottom:10px;
}

.nav-section-3 img {
  width:25px;
  padding-top:2px;
  float:right;
}




h3 {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size:17px;
    color:#607F3A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}

h4 {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size:16px;
    color:#B64630;
    -webkit-user-select: text;
    -khtml-user-select:text;
    -moz-user-select:text;
    -ms-user-select: text;

}

label {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size:13px;
    color:#607F3A;
    font-weight: 300;
}




.submit { margin-top:20px; }

textarea { resize: none; }


.radical img {max-width:50px; max-height:50px;}
.hint img {
  max-width:12px;
  max-height:12px;
}
img.ka-breakdown {
    height:48px;
    width:48px;
    padding-bottom:10px;
}


.stroke-breakdown {
	position:absolute;
    width:540px;
    height:120px;
    margin-left:25px;
    top:530px;
    
}



.luminous-hint .border-no-padding {
  margin-top:15px;
  margin-bottom:15px;
}

.luminous a {
  color:black;
}

.border {
  float:left;
  height:auto;
  width:100%;
  display:block;
  padding-left:15px;
  padding-right:15px;
}
.border-no-padding{
  float:left;
  height:auto;
  width:100%;
  display:block;
}
.border-inner {
  height:1px;
  background-color: #CBCCD0;
}

.border-right {
    border-right:1px solid #CBCCD0;
}

.footer {
  padding-top:15px;
  padding-bottom:5px;
  color:#999;
}


/*@media (min-width: 768px) {*/
  .nav {
    height:62px;
  }
  .nav span {
    float:left;
    display:block;
    margin-top:4px;
  }
  .nav-section-1, .nav-section-2, .nav-section-3 {
    margin-top:15px;
  }
  .nav-section-2 a {
    margin-left:-10px;
  }
  .nav-section-3 span {
  display:block;
  }
  .nav-section-3 img {
    display:none;
  }
  .mobile-branding img {
    display:none;
  }
  .nav-section-4 a {
    display:block;
    margin-top:15px;
    float:left;
  }
  .nav .icon {
    float:left;
  }
  .nav .icon-left {
    margin-right:12%;
  }
  .nav .icon-right {
    margin-left:12%;
  }
.container {
    width:1196px !important;
    min-height: 658px !important;
    margin-left:auto;
    margin-right:auto;
    margin-top: 55px;
    -moz-box-shadow:    0 3px 6px rgba(100, 100, 100, 0.3);
    -webkit-box-shadow: 0 3px 6px rgba(100, 100, 100, 0.3);
    box-shadow:         0 3px 6px rgba(100, 100, 100, 0.3);
    background-color:white;

  }
  .mobile-branding {
    display:none;
  }
  .luminous-hint .border-no-padding {
    margin-top:0;
    margin-bottom:0;
  }
  .desktop-branding {display:block;}
  .desktop-branding img {float:right;}
  .meaning {height:70px; }
  .onyomi {height:58px;}
  .radical {height:115px;}
  .kunyomi {height:89px;}
  .strokes-grade {height:84px;}
  .kodansha-nelson {height:74px;}
  .luminous {height:89px;}
  .hint {height:115px;}
/*}*/

@font-face {
  font-family: 'ka-multimedia';
  src:url('/static/css/fonts/ka-multimedia.eot');
  src:url('/static/css/fonts/ka-multimedia.eot?#iefix') format('embedded-opentype'),
    url('/static/css/fonts/ka-multimedia.woff') format('woff'),
    url('/static/css/fonts/ka-multimedia.ttf') format('truetype'),
    url('/static/css/fonts/ka-multimedia.svg#ka-multimedia') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-step-left, .icon-play, .icon-pause, .icon-step-right, .icon-pause-down, .icon-step-right-down, .icon-step-left-down, .icon-play-down {
  font-family: 'ka-multimedia';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  font-size:20px; 
  color:black; 
  

  
}
.icon-step-left:before { content: "\e008"; }
.icon-play:before { content: "\e007"; }
.icon-pause:before { content: "\e006"; }
.icon-step-right:before { content: "\e005"; }
.icon-pause-down:before { content: "\e002"; }
.icon-step-right-down:before { content: "\e001"; }
.icon-step-left-down:before { content: "\e000"; }
.icon-play-down:before { content: "\e003"; }

.audio-play {
  font-size:15px; 
}

.ka-rad-anim img {
  cursor: pointer;
  width:64px; 
  height:66px; 
  position:absolute;
  top:294px;
  right:1px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.ka-rad-anim img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

div.radical-name{
  top: 294px;	
  position:absolute;
  left:47px;
}

.ka-typefaces {
  height:254px ;
  width:254px ;
}

.ka-typefaces img {
/* modified by TGJ 26/07/16 align kanji animation in detail view */
  height:254px ;
  width:254px ;

}


.ka-typeface-left, .ka-typeface-right{
  color:#000000;
  font-size:20px; 
  font-family:'mplus-1m-icons';
  -webkit-user-select: none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.typeface-name {

  text-align:center;
  font-size:15px;
  position:absolute;
  width:112px !important;
 left:72px;
  top:270px;
}

.ka-welcome-title{
	
position:absolute;
top:44px !important;
width:538px;
	 font-family: "SourceSansPro-Regular", sans-serif;
  font-size:22px;
 
  color:#607F3A; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ka-welcome-text{
	 font-size: 18px;
  font-family: "SourceSansPro-Regular", sans-serif;
  line-height: 136%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: normal;
 position:absolute;
 top:76px !important;
 width:538px !important;	
 
}


.ka-typeface-left{
	left:52px;
	position:absolute;
	  top:270px;
}

.ka-typeface-right{
	right:0px;
	position:absolute;
	  top:270px;
	  right:46px;
}


.ka-results-h1 {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size:17px; 
  color:#607F3A;  
  padding:10px 0px 0px 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  top:-6px !important;

}


.ka-results-h3 {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size:17px; 
  color:#607F3A; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  top: 36px;
}

.ka-border-bottom{
	top:64px;
	position:absolute;
    height:auto;
    width:100%;
    display:inline;
}

.no-results{
		top:79px;
	position:absolute;
	
}

.kanji {
	
  font-family:"mplus-1m-light", sans-serif;
  font-size:25px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p	 {
	position:absolute;
	top:79px;
 
  margin-left:3px;
  margin-bottom:28px; 
  margin-right:0; 
 word-wrap: break-word !important;
  white-space:normal;

}




.ka-welcome-header {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size:22px;
  padding-top:30px; 
  padding-bottom:24px; 
  color:#607F3A; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ka-welcome-italic {
  font-family: 'SourceSansPro-It','SourceSansPro-Regular',sans-serif;
/* workaround for FireFox */  
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ka-welcome-p {
  font-size: 18px;
  font-family: "SourceSansPro-Regular", sans-serif;
  line-height: 136%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: normal;
}





.ka-bottom-bar {
  height: 18px;
  margin-top:-4px; 
  border-top:1px solid #CBCCD0; 
}

.ka-radical {
  font-family:"JapaneseRadicals-Regular", sans-serif;
  font-size:22px; 
  color:#CBCCD0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:hover {
  text-decoration:none; 
}

a.ka {
  font-family:"mplus-1m-light", sans-serif;
  font-size:25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grouped-row > a.ka {
  padding-left:12px;
}

a.ka, a.ka:visited {
  color:black; 
  text-decoration:none; 
}
a.ka:hover {
  cursor:pointer; 
}
a.ka:hover, a.ka:active {
  color:#B64630;
  text-decoration:none; 
}


.inline {
  display:inline-table;
}

.grouped-results  {
 margin-top:79px;
 
}


.grouped-results .grouped-column {
  
  width:258px !important;
  margin-right:25px !important
}



.scroller {
  white-space: nowrap;
  height: 529px;
  overflow-y:hidden;
  overflow: hidden;
  position: relative;
  top:23px;
  
}

.scrollbar-wrapper{
   width:1103px !important;
  height:auto;
  overflow: hidden;
  float:left;
}


.typeface-container  {
  width:254px;
  height:254px;

}



.example10 {
	font-size:10pt;
}

.example9 {
	font-size:9pt;
}

.example8 {
	font-size:8pt;
}

.example7 {
	font-size:7pt;
}


/*
foundation layer
*/

.col1{ 
	width:258px;
   min-height: 577px !important;
   max-height: 577px !important;
	left:0px;
	position:absolute;
	
}
.col2{ 
	width:258px;
	min-height: 577px !important;
    left:282px;
	position:absolute;
}
.col3{ 
	width:258px;
	min-height: 577px !important;
	left:564px;
	position:absolute;
}
.col4{
	width:255px;
	min-height: 577px !important;
	left: 848px;
	position:absolute;
}


.row1{
	position:absolute;
	width:100%;
	min-height:32px !important;
	padding-top: 8px !important;
	
}

 .row1 a {
  font-family: 'SourceSansPro-It','SourceSansPro-Regular',sans-serif;
  /*workaround for FireFox*/  
  
    font-family:'SourceSansPro-Regular','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',MS-Gothic,sans-serif; 
    font-size:17px; 
    color:#B64630;
    font-weight:normal; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none; 
  }


.row2{
	position:absolute;
	top:32px;
	width:100%;
	min-height:545px !important;
//	background-color:gold;

}


.row3{
	
position:absolute;
	top:32px;
	width:100%;
	min-height:545px !important;

}



.recordCounter{
	
	width:50% !important;
    float:left;
	height:25px !important;
	
}


.recordCounter a.icon {
	
margin-left:-12px !important;	
	
}

.recordCounterRight{

	width:50% !important;
	height:25px !important;
	float:right
	
}

.logo {
	position:relative;
	top:-21px !important;
	left:1100px !important;
	
	
}

.logo img{
	width:54px !important;
	height:54px !important;
	
}


 

.container2{
	margin-left:25px !important; 
    margin-top:42px !important;
    position:relative;
}


/* UI alignment August 15th 2016 - detail view */


span.search{
	position:absolute;
	width:120px !important;

	text-align:center !important;
	
}


.border1 {
  position:absolute;
  height:auto;
  width:1103px !important;
  display:inline;
  margin-top:50px !important;
 
}

.border2 {
  position:absolute;
  height:auto;
  width:1103px !important;
  display:inline;
  margin-top:564px !important;
 
}


.border-inner {
  height:1px;
  background-color: #CBCCD0;
}




h3#kanji{
	position:absolute;
	 top:10px;
margin-left:-1px;
	
}






.icon-step-left{
margin-right:88px;
}

#ka-anim-play{
	position:absolute;
	left:120px !important;
}



/* column 2*/





h3.meaning, h3.strokes, h3.grade, h3.examples {
  position:absolute;
  top:10px;
}

  p.meaning, p.strokes, p.grade, div.examples  {
	top: 60px ;
position:absolute;
}


h3.onyomi, h3.kodansha, h3.nelson  {
	top: 123px;
	position:absolute;
	  margin-top: -8px;
}

p.onyomi, p.kodansha, p.nelson  {
	top: 142px;
	position:absolute;
}

h3.kunyomi, h3.luminous  {
	top: 194px;	
	position:absolute;
	  margin-top: -8px;
}

p.kunyomi, p.luminous {
	top:214px;
	position:absolute;
}


div.border3 {
  position:absolute;
  height:auto;
  width:100%;
  display:inline;
  top:253px;
	
}


/* RADICAL */

h3.radical, h3.hint {
	top: 273px;	
	position:absolute;
	  margin-top: -8px;
	
}



.radical-character {
	top: 290px;	
	position:absolute;
	margin-left:0px;
	width:31px;
    height:32px;
    margin-left:2px;
}
.radical-stroke {	
  top: 334px;	
  position:absolute;
  margin-left:0px;
  
}

.radical-position {	
  top: 336px;	
  position:absolute;
  margin-left:20px;
  height:14px; 
  width:14px;
}


div.radical-meaning{
	 top: 316px;	
  position:absolute;
  left:47px;
  white-space:normal;
  width:143px;
}


/* COLUMN 3 */


div.hint {
	 
  position:absolute;
	top: 294px;	
}

div.border4, div.border5 {
  position:absolute;
  height:auto;
  width:100%;
  display:inline;
  top:253px;
	
}


div.border6 {
  position:absolute;
  height:auto;
  width:100%;
  display:inline;
  top:391px;
	
}


h3.grade, p.grade, h3.nelson, p.nelson {
	left:131px ;	
}

.icon-play{
	//right:-27px !important;
//	position:absolute;
}

.example { 	
  min-height:41px; 
  width:258px !important;

}



div.border7{
	
  position:absolute;
  height:auto;
  width:540px;
  margin-left:25px;
  display:inline;
  top:520px;
	
}




/* SEARCH AND WELCOME */




div.typesquare-container {
	
	position:absolute;
top:44px !important;
width:538px !important;
left:553px;
}

.TypeSquare {
	font-family: font-family: "学参 常改教科書ICA L" または "GJ Kyoukasho ICA Light" ;
	font-family: "GJ Kyoukasho ICA Light" ;
	font-size: 24px;
	text-rendering: optimizelegibility;
	ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl  ;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
	-moz-font-feature-settings: "vert", "vkna" ;
	-ms-font-feature-settings: "vert", "vkna"  ;
	-webkit-font-feature-settings: "vert", "vkna"  ;
	font-feature-settings: "vert", "vkna"  ;

	width:476px !important;
	min-height: 459px !important;
    margin-left:30px;
    margin-top:22px;


	
	
}

.scroller-kanji {
 width:1103px;
 overflow-y:hidden !important;

}
}

.list-inline{
	margin-left:15px;
	
}

.list-inline>li {		
   padding-left:0px;		
   padding-right:0px;		
 }
 

.example{
	display:table;
	
}

div.example-audio, div.example-ja {
	display:table-cell;
}

.icon-play{
	position:absolute;
	right:3px !important;
	
}


